/* Form.module.css */

.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text */
  padding: 50px;
}

.Form_box {
  width: 100%;
  max-width: 500px;
  background-color: #1e1e1e; /* Darker background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.Form_box form {
  display: flex;
  flex-direction: column;
}

.Form_box_input {
  margin-bottom: 20px;
}

.Form_box_input label {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.Form_box_input_userName,
.Form_box_input input,
.Form_box_input textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #282828; /* Darker background */
  color: #e0e0e0; /* Light text */
}

.Form_box_input_userName::placeholder,
.Form_box_input input::placeholder,
.Form_box_input textarea::placeholder {
  color: #b0b0b0; /* Lighter text */
}

.Form_box_input_input_box {
  display: flex;
  align-items: center;
}

.Form_box_input_box_icon {
  margin-right: 10px;
  color: #ff007a; /* Accent color */
}

.Form_box_input_social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.Form_box_input_social input {
  width: calc(100% - 30px); /* Adjust for icon width */
}

.Form_box_input_box_icon {
  display: flex;
  align-items: center;
  color: #ff007a; /* Accent color */
  cursor: pointer;
}

.Form_box_btn {
  text-align: center;
  margin-top: 20px;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff007a; /* Accent color */
  color: #fff; /* White text */
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff0055; /* Darker accent color on hover */
}
