.banner {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .banner_img {
    display: block;
  }
  
  .banner_img_mobile {
    display: none;
  }
  
  .img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .banner_img {
      display: none;
    }
    .banner_img_mobile {
      display: block;
    }
  }
  