.profile {
    position: absolute;
    padding: 2rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    width: 20rem;
    border-radius: 1rem;
    left: -17rem;
    top: 4.5rem;
    z-index: 22222222;
    background-color:  #1c1c1c; /* Light gray */
}

.profile_account {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
}

.profile_account_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile_account_info {
    line-height: 1.5;
}

.profile_account_info p {
    font-weight: 600;
}

.profile_menu_one_item {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.profile_menu_one_item:hover {
    background-color: #4c5773; /* Dark blue */
    color: #ffffff; /* White text */
    border-radius: 0.3rem;
}
